<h1>Hello From Raspi Rails</h1>
<p>A rails app running on a Raspberry PI.</p>
<p>You can find the source here: <a href="https://github.com/esumerfd/raspberrypi_rails">Eds GitHub Repo</a></p>
<p align="center"><%= image_tag "raspberrypi_rails.jpg" %></p>


